.card-title,
.card-text {
    color: #00204a;
}

.card-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.breadcrumb a, .breadcrumb-item.active, .breadcrumb-item {
    color: #e45f2b;
    text-decoration: none;
}