<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <nav class="navbar navbar-expand-lg fixed-top" th:fragment="page_navbar">
    <div class="container">
      <h1 class="navbar-brand" href="">SoLAW</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Forum</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Solusi
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Prosedur Hukum</a></li>
              <li><a class="dropdown-item" href="">Pembuatan Dokumen</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/artikel">Artikel</a>
          </li>
        </ul>
<!--        <form class="d-flex" role="search">-->
<!--          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--        </form>-->
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Akun
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Profile</a></li>
              <li><a class="dropdown-item" href="">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <footer th:fragment="page_footer">
    <div class="container">
      <div class="row mb-2">
        <div class="col-lg-10 col-sm-12 about">
          <h5>Tentang Kami</h5>
          <p>Solution of Law (SoLAW) adalah platform inovatif yang bertujuan untuk mempermudah akses masyarakat terhadap layanan hukum. Kami memahami bahwa proses hukum sering kali rumit dan memakan waktu, sehingga kami hadir untuk memberikan solusi yang efisien dan transparan.</p>
        </div>
        <div class="col-lg-2 col-sm-3 contact">
          <h5>Hubungi Kami</h5>
          <p><i class="bi bi-geo-alt-fill"></i>Telkom Univeristy</p>
          <p><i class="bi bi-envelope-fill"></i>solaw@example.com</p>
          <p><i class="bi bi-telephone-fill"></i>+62 1234-5678-912</p>
          <div class="social-media">
            <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com"><i class="bi bi-youtube"></i></a>
            <a href="https://github.com/Kudan1l/solaw-pbo"><i class="bi bi-github"></i></a>
          </div>
        </div>
      </div>
      <div class="text-center py-2 border-top copyright">
        <small>&copy; 2024 Kelompok 10 IT-46-02.</small>
      </div>
    </div>
  </footer>
</html>